// Toolbar
@toolbarHeight: 40px;

// Track Headers
@trackHeadersWidth: 20%;

// TracksTimelineSection
@tracksTimelineHeight: 50%;

// Timeline
@timelineHeight: 30px;

// z-indices
@verticalGridZIndex: 10;
@tracksZIndex: 20;
@timelineZIndex: 30;

:export {
  timeline_height: @timelineHeight;
}
