@import "~styles/sequencer.less";

.pageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232C39;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, .5) 10%, rgba(0, 1, 127, .7));
}

.tracksTimelineContainer {
  position: absolute;

  width: 100vw;
  height: 30vh;

  top: @toolbarHeight;
  left: @trackHeadersWidth;

  overflow: auto;
}

.tracksTimelineWrapper {
	// Empty div for proper scrollbar positioning
}
