@import "~@blueprintjs/core/dist/blueprint.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  width: 100vw;

  box-sizing: border-box;

  margin:0;
  padding:0;

  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

/* Settings for making elements not selectable */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}
